
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 50px;
  color: #333;
  min-height: 100vh;
  background-image:url("../Background_Images/logo.jpg") ;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  flex-direction: column;

}

.titulo {
  text-align: center;
  margin-bottom: 20px;
  color: #134e4a;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(253, 252, 252, 0.422);
  z-index: -1;
}


.card {
  background: #ffffff;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  max-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
  position: relative;

}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Arial;
}

.card h2 {
  text-align: center;
  color: #0f766e;
}

.subtitulo {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
 
}

.input-group {
  position: relative;
  margin-bottom: 15px;
  
}

.input-group i {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #0f766e;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 10px 10px 10px 38px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group textarea {
  min-height: 90px;
  resize: none;
}

.input-group input[type=email] {
  width: 89%;
}

button {
  position: relative;
  width: 100%;
  background: #0f766e;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #115e59;
}

.button-loading {
  pointer-events: none;
  cursor: not-allowed
}

.button-loading::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: #f9f2f2; 
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  max-width: 450px;
  padding: 20px;
}

footer {
  position: static;
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #555;
}

.oculto {
  display: none !important;
}

.Ticket{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
  color: #010101;
  margin-top: 20px;
}

.check {
  width: 70px;
  height: 70px;
  background: #1f9d6a;
  color: white;
  font-size: 36px;
  border-radius: 50% ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 6px;
}

.ticket-number {
  display: inline-block;
  background: linear-gradient(to right,  #115E59,#0D9488);
  color: white;
  padding: 5px ;
  border-radius: 999px;
  margin-top: 10px;
  font-size: 14px;
  
}

.Ticket  {
  font-size: 16px;
  text-align: left;
  margin: 6px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  padding: 20px 0px;

}

.Ticket p {
  margin: 8x 0;
  color: #0B4F6C;

}





