body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  overflow-x: hidden;
  position: relative;
  flex-direction: column;
  background: linear-gradient(
    155deg,
    #ffffff 50%,
    #154c79 50%
  );
  background-attachment: fixed;
}


.titulo {
  position: relative;
  text-align: center;
  margin: 20px 0;
  max-width: 500px;
  color: #134e4a;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  z-index: 10;
}

.titulo .logo {
  width: 60px;
  height: auto;
}

.card {
  background: #ffffff;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  max-width: 430px;
  width: 100%;
  z-index: 10;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Arial;
  
}

.card h2 {
  text-align: center;
  color: #0f766e;
  margin-bottom: 4px;
}

.subtitulo {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  margin-top: 0;
  margin-bottom: 8px;
  opacity: 0.85;
  line-height: 1.3;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group i {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #0f766e;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 10px 10px 10px 38px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group textarea {
  min-height: 90px;
  resize: none;
}

.input-group input[type="email"] {
  width: 89%;
}

button {
  position: relative;
  width: 100%;
  background: #0f766e;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #115e59;
}

.button-loading {
  pointer-events: none;
  cursor: not-allowed;
}

.button-loading::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: #f9f2f2;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  max-width: 450px;
  padding: 20px;
}

footer {
  position: fixed;
  bottom: 20px;
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #555;
  z-index: 10;
}

.oculto {
  display: none !important;
}

.Ticket {
  font-size: 15px;
  text-align: left;
  margin: 10px 0;
  border-top: 1px dashed #ccc;
  padding: 10px 0px;
  font-weight: bold;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  color: #010101;
  margin-top: 20px;
}

.check {
  width: 60px;
  height: 60px;
  background: #1f9d6a;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 5px;
}

.st {
  margin: 5px 0;
  font-size: 22px;
}

.ticket-number {
  display: block;
  text-align: center;
  background: linear-gradient(to right, #115e59, #0d9488);
  color: white;
  padding: 8px 20px;
  border-radius: 999px;
  margin: 15px auto;
  font-size: 14px;
  width: fit-content;
}

.ticket-number p {
  margin: 0;
}

.Ticket {
  font-size: 16px;
  text-align: left;
  margin: 6px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Ticket p {
  margin: 4px 0;
  color: #0b4f6c;
  font-family: sans-serif, Arial;
  font-weight: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.Ticket strong {
  color: #134e4a;
}

#ticketDescripcion{
  display: block;
  max-height: 150px;
  overflow-y: auto;
  padding-right: 5px;
  margin-top: 5px;
}

#ticketDescripcion::-webkit-scrollbar {
  width: 6px;
}

#ticketDescripcion::-webkit-scrollbar-thumb {
  background-color: #0f766e;
  border-radius: 3px;
}