body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("Background_Images/logo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(253, 252, 252, 0.422);
  z-index: -1;
}

h1 {
  color: #003366;
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
}

.card {
  background-color: #66c0c0;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;

  position: relative;
}

.st {
  margin: 0;
  font-size: 24px;
  color: #222;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
}

textarea {
  height: 100px;
  resize: vertical;
}

.departamento {
  width: 100%;
  padding: 10px;
  border: 1px solid #605e5e;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;

  }

button {
  background-color: #0056b3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #003d7a;
}

footer{
  margin-top: 50px;
  font-size: 12px;
  color: #080808;
}

.oculto {
  display: none;
}

.Ticket{
  font-size: 18px;
  font-weight: bold;
  color: #66c0c0;
  margin-top: 20px;
}

