body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.titulo{
    text-align: center;
  margin-bottom: 20px;
  color: #134e4a;
}

.dashboard-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    max-width: 500px;
    width: 100%;
    text-align: center;
}