USE [master]
GO
/****** Object:  Database [SistemaTickets]    Script Date: 30/1/2026 15:14:29 ******/
CREATE DATABASE [SistemaTickets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaTickets', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaTickets.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaTickets_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaTickets_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaTickets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaTickets]
GO
/****** Object:  User [n8n_user]    Script Date: 30/1/2026 15:14:30 ******/
CREATE USER [n8n_user] FOR LOGIN [n8n_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [n8n_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [n8n_user]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 30/1/2026 15:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[IdDep] [int] NOT NULL,
	[NomDep] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Departamentos] PRIMARY KEY CLUSTERED 
(
	[IdDep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets]    Script Date: 30/1/2026 15:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[IdTicket] [int] IDENTITY(1,1) NOT NULL,
	[IdDep] [int] NOT NULL,
	[NombreContacto] [varchar](100) NOT NULL,
	[DescripcionProblema] [varchar](max) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[CorreoContacto] [nvarchar](90) NOT NULL,
 CONSTRAINT [PK__tickets__4B93C7E7A51F6DCF] PRIMARY KEY CLUSTERED 
(
	[IdTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/1/2026 15:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NomUs] [varchar](100) NOT NULL,
	[CorUs] [varchar](100) NOT NULL,
	[PassHash] [varchar](255) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[FecCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Departamentos] ([IdDep], [NomDep]) VALUES (1, N'Dirección Superior')
INSERT [dbo].[Departamentos] ([IdDep], [NomDep]) VALUES (2, N'Gerencia de Talento Humano')
INSERT [dbo].[Departamentos] ([IdDep], [NomDep]) VALUES (3, N'Gerencia Administrativa')
GO
SET IDENTITY_INSERT [dbo].[tickets] ON 

INSERT [dbo].[tickets] ([IdTicket], [IdDep], [NombreContacto], [DescripcionProblema], [Estado], [FechaCreacion], [CorreoContacto]) VALUES (7, 7, N'Maria', N'dssddddddddddddddddddddddddd', N'Abierto', CAST(N'2026-01-22T09:21:03.780' AS DateTime), N'mar18@gmail.com')
INSERT [dbo].[tickets] ([IdTicket], [IdDep], [NombreContacto], [DescripcionProblema], [Estado], [FechaCreacion], [CorreoContacto]) VALUES (8, 1, N'María García', N'Problema con sistema', N'Abierto', CAST(N'2026-01-22T09:21:34.030' AS DateTime), N'maria@example.com')
INSERT [dbo].[tickets] ([IdTicket], [IdDep], [NombreContacto], [DescripcionProblema], [Estado], [FechaCreacion], [CorreoContacto]) VALUES (9, 1, N'María García', N'Problema con sistema', N'Abierto', CAST(N'2026-01-22T09:23:20.450' AS DateTime), N'maria@example.com')
SET IDENTITY_INSERT [dbo].[tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [NomUs], [CorUs], [PassHash], [Rol], [FecCreacion]) VALUES (1, N'Maria', N'marjcerratop@unicah.edu', N'$2b$10$VS4sH4a2Oan2jSjc9fC84OykyVGFYbTpJPHvwxWWGNmzQGdjvM6mq', N'USUARIO', CAST(N'2026-01-27T22:13:15.830' AS DateTime))
INSERT [dbo].[Usuarios] ([IdUsuario], [NomUs], [CorUs], [PassHash], [Rol], [FecCreacion]) VALUES (2, N'Maria', N'ap.22082016@gmail.com', N'$2b$10$xbERVmzSuRAOA5lnRphYeekQT20RM7gH73aQnD4gO3i24r5f4tSja', N'USUARIO', CAST(N'2026-01-28T11:01:39.997' AS DateTime))
INSERT [dbo].[Usuarios] ([IdUsuario], [NomUs], [CorUs], [PassHash], [Rol], [FecCreacion]) VALUES (3, N'Marco Aguilera', N'marc@gmail.com', N'$2b$10$pgLckxsaLenBIH9JQ/j6Fuz5ZRcketBFC92CHRpNjH9i/SCXZbnQG', N'USUARIO', CAST(N'2026-01-29T13:08:28.697' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__E091F11EC1FC11E5]    Script Date: 30/1/2026 15:14:30 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[CorUs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_Correo]    Script Date: 30/1/2026 15:14:30 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Correo] UNIQUE NONCLUSTERED 
(
	[CorUs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tickets] ADD  CONSTRAINT [DF__tickets__Estado__3D5E1FD2]  DEFAULT ('Abierto') FOR [Estado]
GO
ALTER TABLE [dbo].[tickets] ADD  CONSTRAINT [DF__tickets__FechaCr__3E52440B]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('USUARIO') FOR [Rol]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FecCreacion]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Departamentos] FOREIGN KEY([IdDep])
REFERENCES [dbo].[Departamentos] ([IdDep])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_Tickets_Departamentos]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Rol] CHECK  (([Rol]='Usuario' OR [Rol]='Soporte'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Rol]
GO
USE [master]
GO
