* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden; 
    background: #ffffff;
}

/* CONTENEDOR PRINCIPAL*/
.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* SECCIÓN IZQUIERDA (BLANCA) */
.left-section {
    width: 55%; 
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; 
}

.branding {
    text-align: center;
    color: #0d9488;
}

.left-section h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 2.8rem;
    margin-bottom: 50px;
    
}

.logo {
    font-size: 80px;
    margin-bottom: 20px;
}

.branding h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* SECCIÓN DERECHA (AZUL)*/
.right-section {
    width: 45%;
    background: #154c79; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white; 
    z-index: 2;
}

/* DIAGONAL (El efecto visual) */
.right-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120px; 
    width: 250px;
    height: 100%;
    background: #154c79; 
    transform: skewX(-12deg); /* Inclinación */
    z-index: -1;
}

/* CAJA DEL LOGIN */
.Login-box {
    width: 100%;
    max-width: 400px;
    position: relative;
    z-index: 2; 
    padding: 20px;
}

.Login-box h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.Login-box p {
    margin-bottom: 30px;
    opacity: 0.8;
    font-size: 0.95rem;
}

/* INPUTS */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 0.9rem;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px 12px 45px; 
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: #ffffff;
    color: #333;
    outline: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.input-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: #154c79; 
    font-size: 1.1rem;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

button[type="submit"] {
    width: 100%;
    background: #0d9488; 
    color: white;
    border: none;
    padding: 14px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

button[type="submit"]:hover {
    background: #115e59;
    transform: translateY(-2px);
}

/* LINK REGISTRO */
.link-text {
    margin-top: 25px;
    text-align: center;
    font-size: 0.9rem;
    color : #fff;
}

.link-text a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .main-container { flex-direction: column; }
    .left-section { display: none; } /* En móvil ocultamos el lado izquierdo */
    .right-section { width: 100%; }
    .right-section::before { display: none; } /* Quitamos la diagonal en móvil */
}
